body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-color: #EBEBEB;
}

h1 {
	font-size: 32px;
	font-variant: small-caps;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: rgb(46,105,163);
	float: right;
}

nav li {
	font: "Trebuchet MS", Helvetica, sans-serif;
  	display: inline;
 	margin: 0;
 	padding: 0 10px;
 	float: left;
}