body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
	font-variant: small-caps;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
	float: right;
	margin-right: 50px;
	background-color: #EBEBEB;
}

ul {
	padding-left: 100px;
}

nav li {
	font: "Trebuchet MS", Helvetica, sans-serif;
	font-variant: small-caps;
	
  	display: inline;
 	margin: 0;
 	padding: 0 10px;
 	padding-left: 40px;
 	float: left;
 	margin-top: 50px; 	
 	background-color: #EBEBEB !important;
}

body {
	background-color: #EBEBEB !important;
}

.pageDivider {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

.mainColor h1{
	color: black;
}

.mainColor nav li a{
	color: black;
}


.mainColor {
	background-color: #EBEBEB !important;
	padding: 0 90px;
}

.mainColor .jumbotron{
	background-color: #EBEBEB !important;
}


.uncharted{
	background: url(http://images.techtimes.com/data/images/full/236964/uncharted-4-a-thiefs-end.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	}	

.uncharted:hover:before{
	background: rgba(255,255,255,.5);
	content:"Uncharted 4: A Thief's End";
	display: block;
	line-height: 400px;
	font-size: 30px;
	font-variant: small-caps;
}

.noLinkLine{
	text-decoration: none;
}

.wordplay{
	background: url(http://www.warm-glass.co.uk/images/products/block-letters-decal-XqUA.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	}	

.wordplay:hover:before{
	background: rgba(255,255,255,.5);
	content:"Wordplay";
	display: block;
	line-height: 400px;
	font-size: 30px;
	font-variant: small-caps;
}

.aboutMessage{
	text-align: left;
	font: "Trebuchet MS", Helvetica, sans-serif;
}

.about_photo{
    background: url(Photos/aboutPhoto.jpg);
    background-size: cover;
    height: 300px;
}


li
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}


.uncharted_auction1{
    background: url(https://3.bp.blogspot.com/-L4KGzEedlsE/VyqHOyBIOMI/AAAAAAAAk1c/rdpSVjZ1KSEZkrUz-dF0UP6FlSibUliiwCKgB/s1600/Italy_03.bmp);
    background-size: cover;
    height: 300px;
}

