body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
	font-variant: small-caps;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: rgb(46,105,163);
	float: right;
	margin-right: 50px;
	background-color: #EBEBEB;
}

nav li {
	font: "Trebuchet MS", Helvetica, sans-serif;
	font-variant: small-caps;
  	display: inline;
 	margin: 0;
 	padding: 0 10px;
 	float: left;
 	margin-top: 50px;
 	margin-left: 100px;
 	background-color: #EBEBEB;
}

body {
	background-color: #EBEBEB !important;
}

.mainColor {
	background-color: #EBEBEB;
	padding: 0 90px;
}

.uncharted:hover:before{
			background: rgba(255,255,255,.5);
			content: "Uncharted 4: A Thief's End";
			font-size: 50px;
			font-color: red;
			vertical-align: middle;
			align-content: center;
			display: block;
			height: 100%;
		}

.uncharted{
	background: url(http://images.techtimes.com/data/images/full/236964/uncharted-4-a-thiefs-end.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	}	

.wordplay:hover:before{
			background: rgba(255,255,255,.5);
			content: "Uncharted 4: A Thief's End";
			font-size: 50px;
			vertical-align: middle;
			font-color: red;
			align-content: center;
			display: block;
			height: 100%;
		}

.wordplay{
	background: url(http://www.warm-glass.co.uk/images/products/block-letters-decal-XqUA.jpg) no-repeat;
	background-size: cover;
	height: 400px;
	}			

div.container{
	position:relative;
	background: rgba(255, 255, 255, .5);
}

div.u4{ 
	position:absolute; 
	top:50%; 
	left:50%; 
	width:100%; 
	display:none; 
	z-index:10;
	font-color: red;
	font-size: 40px;
}

a:hover div.u4{
	display:block;
	background: rgba(255, 255, 255, .5);
}

div.wordplay{ 
	position:absolute; 
	top:50%; 
	left:50%; 
	width:100%; 
	display:none; 
	z-index:10;
	font-color: red;
	font-size: 40px;
}

a:hover div.wordplay{
	display:block;
	background: rgba(255, 255, 255, .5);
}
			